body{
    padding: 0%;
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px;
}

.sp-color{
    color: orange;
}

section{
    display: flex;
    margin-bottom: 150px;
}

.half-width{
    width: 50%;
    padding-left: 10%;
}

.half-width img{
    width: 80%;
}

.half-width p{
    font-weight: 400;
    text-align: justify;
}

.button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to right, red, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
    
}   

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right ;
}

